<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../Public/Styles/fuentes.css">
        <link rel="stylesheet" href="../../Public/Styles/estilo-index.css">
        <link rel="icon" href="../../Public/Img/profile.png">
        <title> Portafolio Personal </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Adrián Orozco, portafolio, dev">
        <meta name="description" content="Esta es mi primera página web estática.">
    </head>

    <body>

        <header class="header-navegacion">
            <nav class="nav-principal">
                <div class="nav-brand">
                    <a href="#" class="brand-logo">A<span>O</span></a>
                </div>
                <ul class="nav-links">
                    <li><a href="#" class="nav-link">Inicio</a></li>
                    <li><a href="#sobre-la-web" class="nav-link">Sobre la Web</a></li>
                    <li><a href="#mi-presentacion" class="nav-link">Presentación</a></li>
                    <li><a href="#skills" class="nav-link">Skills</a></li>
                    <li><a href="#opiniones" class="nav-link">Opiniones</a></li>
                    <li><a href="#preguntas-sobre-mi" class="nav-link">Sobre mí</a></li>
                </ul>
            </nav>
        </header>

        <main>

            <div class="seccion-de-introduccion">
        <h1>MI PORTAFOLIO WEB</h1>
        <p class="texto-introductorio"> ¡Hola! Bienvenido a mi portafolio virtual. Aquí podrás conocer mis habilidades, ver algunos de los proyectos en los que he trabajado y encontrar distintas formas de contacto. También comparto un poco sobre mí y mi proceso de aprendizaje.
        <br>
        <br>
        Este espacio refleja mi dedicación y crecimiento, así que espero que disfrutes explorarlo y puedas dejar tu opinión para seguir mejorando.
        </p>

        <div class="seccion-de-botones">

            <a class="botones-introduccion" href="#sobre-la-web" title="Información de esta página web"> Curso disponible</a> 

            <a class="botones-introduccion" href="#mi-presentacion" title="¡Conocéme!"> Mis datos </a> 

            <a class="botones-introduccion" href="#skills" title="Mis habilidades"> IDE y Tecnologías</a>
            <a class="botones-introduccion" href="#opiniones" title="Formulario"> Formulario</a>
            <a class="botones-introduccion" href="#preguntas-sobre-mi" title="Resolver dudas"> Resolver dudas</a>  
        </div>
        </div> <!-- Sección de introducción-->

         <!-- Segundo contenedor -->
        <div class="sobre-la-web" id="sobre-la-web">

        <div class="capa-sobre-la-web">
        <h2 id="titulo-sobre-la-web"> ¿POR QUÉ ESTA WEB? </h2>
        <p id="parrafo-sobre-la-web"> Nace de una noche donde entendí que los conocimientos no se ejercen aprendiendo más, o realizando ejercicios básicos, el conocimiento nace cuando aplico lo que sé en un proyecto real, por eso, está página web contiene todo lo que he aprendido en cursos.
        </p>

        <a href="https://www.youtube.com/watch?v=ELSm-G201Ls" title="Curso de HTML, Soy Dalto" class="curso-sobre-la-web" target="_blank"> Curso donde he aprendido todo sobre páginas web. </a>

        <p class="parrafo-sobre-la-web-2"> Tecnologías que usé aquí:</p>


        <!-- Div de secciones -->
        <div class="contenedor-tecnologias-sobre-la-web">

        <!-- Sección 1 -->
        <section class="secciones-sobre-la-web"> 
        <div>
            <img src="../../Public/Img/html.jpg" alt="HTML" class="imagenes-sobre-la-web">
        </div>

        <div>
            <h3 class="titulos-de-secciones"> HTML</h3>
            <p class="parrafos-de-secciones"> Este lenguaje de marcado se usó para darle la estructura a la web.</p>
        </div>
        </section>

        <!-- Sección 2 -->
        <section class="secciones-sobre-la-web">
        <div>
            <img src="../../Public/Img/css.png" alt="CSS" class="imagenes-sobre-la-web">
        </div>

        <div>
            <h3 class="titulos-de-secciones"> CSS</h3>
            <p class="parrafos-de-secciones"> Esta tecnología se usó para darle el estilo y la estética a la página web.</p>
        </div>
        </section>

        <!-- Sección 3 -->
        <section class="secciones-sobre-la-web">
        <div>
            <img src="../../Public/Img/javascript.jpg" alt="HTML" class="imagenes-sobre-la-web">
        </div>

        <div>
            <h3 class="titulos-de-secciones"> JavaScript</h3>
            <p class="parrafos-de-secciones"> Este lenguaje de programación fue utilizado para darle dinamismo a la web.</p>
        </div>
        </section>

        </div> <!-- Fin de div de secciones-->


        </div>

        </div> <!-- Fin del div sobre la web-->

        <!-- Tercer contenedor -->
        <div id=mi-presentacion>

        <div class="tarjeta-de-presentacion">

            <div class="encabezado-tp">
                <h2 class="titulo-tp"> Adrián Enrique Orozco Botero</h2>
            </div>

            <div class="foto-tp">
                <img src="../../Public/Img/foto2.jpeg" alt="Adrián Orozco" title="Yo" class="contenedor-imagen-tp">
            </div>

            <div class="descripcion-tp">
                <p> 
                ¡Hey! Soy un joven de 20 años, nacido en Cartagena de Indias, Colombia. Actualmente soy estudiante de la Fundación Universitaria Colombo Internacional (Unicolombo), donde me formo en Ingeniería de Sistemas y estudio inglés británico, combinando la tecnología con el crecimiento personal y profesional. <br> <br>

                Trabajo como auxiliar de inventario y también realizo trabajos de manera espontánea, lo que me ha permitido desarrollar disciplina, responsabilidad y adaptabilidad en distintos entornos. Me considero una persona que no se conforma con lo básico, siempre estoy buscando aprender algo nuevo, mejorar mis habilidades y crecer constantemente. <br> <br>

                Soy apasionado por las motos, la buena comida, el entrenamiento físico y todo aquello que me rete a ser mejor. Disfruto construir ideas, resolver problemas y explorar el mundo de la tecnología, especialmente en el desarrollo de sistemas y soluciones innovadoras. <br> <br>

                Además, tengo un fuerte enfoque en mis valores y en mi propósito de vida, lo que me impulsa a avanzar con determinación en cada área en la que me desarrollo, tanto personal como profesionalmente. <br> <br>

                Este espacio es una muestra de quién soy, lo que sé hacer y hacia dónde voy. 🚀
                </p>
            </div>
        </div>
        

        </div>
        
        <!-- Cuarto contenedor -->
        <div id="skills">

        <h2 id="titulo-skills"> ¿Cuáles son mis habilidades?</h2>

        <div class="contenedor-secciones-skills">
        
        <!-- Sección 1 -->
        <section class="secciones-de-mis-skills">
        
        <div>
            <img src="../../Public/Img/tecnologiasweb.jpeg" alt="Desarrollo web" class="imagenes-skills" title="Desarrollo Web">
        </div>

        <div>
            <h3 class="titulos-skills"> CSS + HTML + JavaScript </h3>
            <p class="parrafos-skills"> Estoy realizando cursos sobre las 3 tecnologías, con sus respectivos fundamentos.   </p>
        </div>
        </section>

        <!-- Sección 2 -->
        <section class="secciones-de-mis-skills">
        
        <div>
            <img src="../../Public/Img/java.png" alt="Java" title="Java" class="imagenes-skills">
        </div>

        <div>
            <h3 class="titulos-skills"> Java </h3>
            <p class="parrafos-skills"> He visto este lenguaje de programación durante 2 años, vi fundamentos, POO, etc.   </p>
        </div>
        </section>

        <!-- Sección 3 -->
        <section class="secciones-de-mis-skills">
        
        <div>
            <img src="../../Public/Img/node.png" alt="Node js" title="Node  js" class="imagenes-skills">
        </div>

        <div>
            <h3 class="titulos-skills"> Node Js </h3>
            <p class="parrafos-skills"> Sigo en progreso, sin embargo, tengo ya fundamentos y los primeros pasos de este entorno.</p>
        </div>
        </section>

        <!-- Sección 4 -->
        <section class="secciones-de-mis-skills">
        
        <div>
            <img src="../../Public/Img/sql.png" alt="SQL" title="SQL" class="imagenes-skills">
        </div>

        <div>
            <h3 class="titulos-skills"> SQL </h3>
            <p class="parrafos-skills"> Sé la parte conceptual, modelos y manejo gestores de bases de datos como MySQL y SQLite.</p>
        </div>
        </section>
        

        </div>

        </div>

        <!-- Quinto contenedor -->
        <div id="opiniones">
        
        <div class="capa-opiniones">
            <h2 class="titulo-opiniones"> ¡Déjame saber tu opinión de mi página web!</h2>

            <div class="contenedor-formulario">

                <form class="formulario-pv">
                    <h2 class="titulo-formulario"> Llena los siguientes campos: </h2>

                    <fieldset class="fieldets-formulario">
                        <legend class="legends-formulario"> Datos personales</legend>

                        <label for="primer-nombre" class="labels-formulario">Nombres:</label>
                        <input type="text" id="primer-nombre" class="inputs-formulario" required placeholder="Adrián Enrique">

                        <label for="apellidos" class="labels-formulario">Apellidos:</label>
                        <input type="text" id="apellidos" class="inputs-formulario" required placeholder="Orozco Botero">

                        <label for="numero-identificacion" class="labels-formulario">Número de identificación (Sin puntos):</label>
                        <input type="number" id="numero-identificacion" class="inputs-formulario" required placeholder="1043971689">

                        <label for="fecha-de-nacimiento" class="labels-formulario">Fecha de nacimiento:</label>
                        <input type="date" id="fecha-de-nacimiento" class="inputs-formulario" required placeholder="1043971689">
                    </fieldset>

                    <!-- Datos de contacto -->
                    <fieldset class="fieldets-formulario">
                        <legend class="legends-formulario"> Datos de contacto</legend>

                        <label for="email" class="labels-formulario">Correo electrónico:</label>
                        <input type="email" id="email" class="inputs-formulario" required placeholder="tucorreo@dominio.com">

                        <label for="telefono" class="labels-formulario">Número de teléfono:</label>
                        <input type="number" id="telefono" class="inputs-formulario" required placeholder="+57 3008455830">
                    </fieldset>

                    <!-- Sobre  la web -->
                    <fieldset class="fieldets-formulario">
                        <legend class="legends-formulario"> Información de la web</legend>

                        <label for="opinion" class="labels-formulario">¿Cuál es tu opinión de la web?</label>
                        <textarea name="" id="opinion" placeholder="Lo que quieras colocar..." maxlength=180></textarea>

                        <label for="como-llegaste" class="labels-formulario">¿Cómo entraste a la web?</label>
                        <select id="como-llegaste">
                            <option value="Null"> Sin seleccionar</option>
                            <option value="Buscando en Google">Buscando en Google</option>
                            <option value="QR"> con QR</option>
                            <option value="Link">con un link</option>         
                        </select>

                        <label for="quien-recomendo" class="labels-formulario">¿Quién te recomendó la web?</label>
                        <input type="text" id="quien-recomendo" class="inputs-formulario" list="recomendaciones">
                        <datalist id="recomendaciones">
                            <option value="Un amigo"></option>
                            <option value="Redes sociales"></option>
                            <option value="Un compañero de trabajo"></option>
                            <option value="Un familiar"></option>
                        </datalist>
                    </fieldset>

                    <button id="button-opiniones">ENVÍAR DATOS</button>


                </form>
            </div>
    
        </div>

        </div> <!-- Fin 5to contenedor-->
    
        <!-- Último contenedor -->
        <div id="preguntas-sobre-mi">

        <div class="preguntas-frecuentes">
        <h2 id="titulo-psb">PREGUNTAS FRECUENTES SOBRE MÍ</h2>

        <details>
            <summary> ¿En qué rama de la ingeniería de sistemas me pienso específicar? </summary>
            La verdad, es una  pregunta muy buena que todos los días me pregunto, ya que estoy en una carrera tan amplía, y tan expansiva. A estas alturas, puedo considerarme que me gusta de todo un poco (fullstack), pero mayormente me enfoco en tecnologías de programación actuales como: frontend, backend y sql. Además de otros como QA o ingeniería de requisitos.
        </details>

        <details>
            <summary> ¿Qué otras carreras o disciplinas me gustan? </summary>
            No solo soy amante de la tecnología, también me gusta la docencia, la educación física (tanto entrenar, como yo ser quien entrena a las personas), la cocina y el diseño gráfico. También teniendo conocimiento de cada item que mencione, ejerciendo disciplinas básicas.
        </details>

        <details>
            <summary> ¿Cuánto mido? </summary>
            Una pregunta que me hacen frecuentemente, ya que aparanto de más por mi estatura (De 22 años o más) pero en realidad es que tengo 20 años y mido 1,83 cm.
        </details>

        <details>
            <summary> ¿Recomiendo aprender remotamente? </summary>
            En mi experiencia de aprendizaje propio, basado en mí, sí, lo recomiendo, ya que he podido aprender y desarrollar  habilidades de programador desde mi casa, un curso, un pc y mi cuarto. Es más cómodo y con tantas tecnologías que hay actualmente, es más fácil aprender de internet.
        </details>

        <details>
            <summary> ¿Qué otras tecnologías quiero aprender? </summary>
            Voy encaminado a seguir haciendo cursos, donde en estos entran: react, typescript, linux, angular, bootstrap, php, c++ y si es posible, repasar phyton.
        </details>
        </div>
        </div> <!-- Último contenedor-->
    
    


        </main>

        

       
        
    </body>
</html>