<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../Public/Styles/fuentes.css">
    <link rel="stylesheet" href="../../Public/Styles/estilo-index.css">
    <link rel="icon" href="../../Public/Img/profile.png" type="image/png">
    <title> Developer portfolio </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Adrián Orozco, portafolio, dev">
    <meta name="description" content="Esta es mi primera página web estática.">
    <meta name="robots" content="noimageindex, noarchive">

</head>

<body>

    <header class="header-navegacion">
        <nav class="nav-principal">
            <div class="nav-brand">
                <a href="#" class="brand-logo">A<span>O</span></a>
            </div>
            <ul class="nav-links">
                <li><a href="#" class="nav-link">Inicio</a></li>
                <li><a href="#seccion_sobre_la_web" class="nav-link">Sobre esta Web</a></li>
                <li><a href="#seccion_mi_presentacion" class="nav-link">¿Quién soy?</a></li>
                <li><a href="#seccion_mis_skills" class="nav-link"> Mis Skills</a></li>
                <li><a href="#opiniones" class="nav-link">Opiniones</a></li>
                <li><a href="#preguntas-sobre-mi" class="nav-link">Preguntas Frecuentes</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="seccion_de_introduccion">
            <h1 class="seccion_de_introduccion__titulo">Developer portfolio</h1>
            <p class="seccion_de_introduccion__parrafo">¡Hola y bienvenido a mi portafolio virtual! Este espacio ha sido diseñado para compartir mi trayectoria, habilidades y evolución en el mundo del desarrollo de software y la tecnología. Aquí podrás conocer los proyectos en los que he trabajado, las tecnologías que domino, las competencias que he desarrollado y los desafíos que han fortalecido mi experiencia como futuro profesional en Ingeniería de Sistemas.
                <br>
                <br>
            Además de presentar mis trabajos, este portafolio refleja mi compromiso con el aprendizaje continuo, la innovación y la búsqueda constante de nuevas oportunidades para crecer tanto a nivel técnico como personal. Cada proyecto representa una etapa de mi formación y un esfuerzo por aplicar buenas prácticas, resolver problemas reales y seguir perfeccionando mis conocimientos.
                <br>
                <br>
            También encontrarás diferentes formas de contacto para establecer conexiones profesionales, colaborar en iniciativas tecnológicas o compartir ideas que impulsen el crecimiento mutuo. Espero que disfrutes explorando este espacio, conozcas un poco más sobre mi proceso de aprendizaje y desarrollo, y que tu visita te permita descubrir la pasión y dedicación que pongo en cada uno de mis proyectos. ¡Gracias por estar aquí!
            </p>

            <div class="seccion_de_introduccion__div_botones">
                <a class="seccion_de_introduccion__boton boton--git" href="https://github.com/orozcoadrian-dev" title="Perfil de GitHub" target="_blank" rel="noopener, norefferer"> GitHub</a>

                <a class="seccion_de_introduccion__boton boton--instagram" href="https://www.instagram.com/orozcoo__00/" rel="noopener, norefferer" title="Perfil de instagram" target="_blank"> Instagram </a>

                <a class="seccion_de_introduccion__boton boton--email" title="Escríbeme por correo" href="mailto:adrianenriqueorozco@gmail.com">Mi correo</a>

                <a class="seccion_de_introduccion__boton boton--facebook" href="https://www.facebook.com/adrian.orozcobotero" title="Perfil de facebook." target="_blank" rel="noopener, norefferer"> Facebook</a>
            </div>
        </section>

        <!-- Segunda sección -->
        <section class="seccion_sobre_la_web" id="seccion_sobre_la_web">

            <div class="seccion_sobre_la_web__div_layout">
                <h2 class="seccion_sobre_la_web__titulo"> ¿POR QUÉ ESTA WEB? </h2>
                <p class="seccion_sobre_la_web__parrafo parrafo-contexto"> Este proyecto nació una noche en la que comprendí una realidad que cambió por completo mi forma de aprender: el conocimiento no se fortalece únicamente consumiendo más cursos o resolviendo ejercicios aislados. La verdadera comprensión surge cuando aquello que estudiamos se transforma en una solución real, cuando una idea se convierte en código y el aprendizaje se pone a prueba enfrentando problemas del mundo real.
                <br>
                <br>
                Por esa razón decidí crear este sitio web. Más que un simple portafolio, representa un espacio donde materializo cada habilidad adquirida, cada concepto aprendido y cada reto superado durante mi proceso de formación. Aquí encontrarás proyectos desarrollados a partir de cursos, investigaciones y horas de práctica, todos construidos con el propósito de demostrar que aprender va mucho más allá de memorizar: significa crear, experimentar, equivocarse, mejorar y seguir avanzando.
                </p>

                <a href="https://www.youtube.com/watch?v=ELSm-G201Ls" rel="noopener, nofollow, norefferer" title="Curso de HTML y CSS - Soy Dalto"
                    class="seccion_sobre_la_web__link" target="_blank"> Curso que me capacitó para este proyecto.</a>

                <p class="seccion_sobre_la_web__parrafo parrafo--tecnologias"> Tecnologías que usé aquí:</p>

                <div class="seccion_sobre_la_web__div_tecnologias_web">

                    <!-- CSS + HTML + JS -->
                    <section class="seccion_sobre_la_web__tarjeta">
                        <div>
                            <img src="../../Public/Img/css-html-js.jpeg" alt="CSS - HTML - CSS" class="seccion_sobre_la_web__imagen" title="CSS + HTML + Javascript">
                        </div>

                        <div>
                            <h3 class=".seccion_sobre_la_web__titulo titulo--tarjeta"> CSS + HTML + JAVASCRIPT</h3>
                            <p class="seccion_sobre_la_web_parrafo parrafo--tarjeta"> Contrucción completa de la página web, estructura, SEO, estilo y dinamismo.</p>
                        </div>
                    </section>

                    <!-- BEM -->
                    <section class="seccion_sobre_la_web__tarjeta">
                        <div>
                            <img src="../../Public/Img/metodologia-bem.jpg" alt="Metodología BEM" class="seccion_sobre_la_web__imagen" title="Metedología BEM">
                        </div>

                        <div>
                            <h3 class=".seccion_sobre_la_web__titulo titulo--tarjeta"> Metodología BEM</h3>
                            <p class="seccion_sobre_la_web_parrafo parrafo--tarjeta"> Forma de trabajo implementada para dar estilos de forma jerárquica a la web.</p>
                        </div>
                    </section>

                    <!-- Responsive Design -->
                    <section class="seccion_sobre_la_web__tarjeta">
                        <div>
                            <img src="../../Public/Img/responsive-design.jpg" alt="Responsive Design" class="seccion_sobre_la_web__imagen" title="Diseño responsive">
                        </div>

                        <div>
                            <h3 class=".seccion_sobre_la_web__titulo titulo--tarjeta"> Responsive Design</h3>
                            <p class="seccion_sobre_la_web_parrafo parrafo--tarjeta"> Estándar para realizar una página web funcional (En proceso).</p>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <!-- Tercera sección -->
        <section class="seccion_mi_presentacion" id="seccion_mi_presentacion">

            <div class="secccion_mi_presentacion__tarjeta_presentacion">

                <div class="seccion_mi_presentacion__encabezado">
                    <h2 class="seccion_mi_presentacion__titulo" id="seccion_mi_presentacion__titulo" onclick="invertName()" title="Si das click la primera vez que entras a esta página, el nombre se invertirá."> Orozco Botero Adrián Enrique</h2>
                </div> 

                <div class="seccion_mi_presentacion__contenedor_foto">
                    <img src="../../Public/Img/profile-photo.jpeg" alt="Adrián Orozco" title="Adrián Orozco" class="seccion_mi_presentacion__foto" id="seccion_mi_presentacion__foto">   
                </div>

                <div class="seccion_mi_presentacion__contenedor_foto">
                    <img src="../../Public/Img/git-hub-profile.jpeg" alt="Adrián Orozco" title="Adrián Orozco" class="seccion_mi_presentacion__foto" id="seccion_mi_presentacion__foto">   
                </div>

                <div class="seccion_mi_presentacion__contenedor_foto">
                    <img src="../../Public/Img/chill-personal-photo.jpeg" alt="Adrián Orozco" title="Adrián Orozco" class="seccion_mi_presentacion__foto" id="seccion_mi_presentacion__foto">   
                </div>

                <div class="seccion_mi_presentacion__contenedor_foto">
                    <img src="../../Public/Img/notebooks.jpeg" alt="Adrián Orozco" title="Adrián Orozco" class="seccion_mi_presentacion__foto" id="seccion_mi_presentacion__foto">   
                </div>

                <div>
                    <p class="seccion_mi_presentacion__parrafo">
                        ¡Hola! Soy un joven de 20 años nacido en Cartagena de Indias, Colombia. Actualmente curso Ingeniería de Sistemas en la Fundación Universitaria Colombo Internacional (Unicolombo), mientras fortalezco mi formación con el aprendizaje del inglés británico, integrando conocimientos técnicos con un desarrollo personal y profesional constante. <br> <br>

                        Me desempeño como auxiliar de inventario y también participo en proyectos independientes, experiencias que han fortalecido mi disciplina, compromiso y capacidad de adaptación ante nuevos desafíos. Me considero una persona curiosa, perseverante y enfocada en el crecimiento continuo, siempre buscando aprender, mejorar y superar mis propios límites.<br> <br>

                        Disfruto el mundo de las motocicletas, el entrenamiento físico, la gastronomía y todo aquello que represente un reto para evolucionar. La tecnología y el desarrollo de software son áreas que despiertan mi creatividad, motivándome a construir soluciones útiles e innovadoras para distintos contextos.<br> <br>

                        Mis principios, valores y propósito de vida son la base que guía cada decisión que tomo y cada meta que persigo. Este espacio representa una parte de mi historia, mis conocimientos, mis proyectos y la visión profesional que estoy construyendo para el futuro.<br> <br>
                    </p>
                </div>
            </div>
        </section>

        <!-- Cuarta sección -->
        <section class="seccion_mis_skills" id="seccion_mis_skills">

            <h2 class="seccion_mis_skills__titulo"> TECNOLOGÍAS QUE MANEJO: </h2>

            <div class="seccion_mis_skills__contenedor_secciones">

                <!-- HTML 5 - CSS3 -->
                <section class="seccion_mis_skills_tarjeta">

                    <div>
                        <img src="../../Public/Img/html-css.jpg" alt="HTML5 - CSS3" class="seccion_mis_skills__imagen"
                            title="HTML5 - CSS3">
                    </div>

                    <div>
                        <h3 class="seccion_mis_skills__titulo titulo--tarjeta"> CSS + HTML </h3>
                        <p class="seccion_mis_skills__parrafo"> Estructuras web eficientes, con una excelente indexación en motores de búsqueda y una experiencia de usuario fluida en cualquier dispositivo. </p>
                    </div>
                </section>

                <!-- JAVASCRIPT -->
                <section class="seccion_mis_skills_tarjeta">

                    <div>
                        <img src="../../Public/Img/javascript.jpg" alt="Javascript" title="Javascript" class="seccion_mis_skills__imagen">
                    </div>

                    <div>
                        <h3 class="seccion_mis_skills__titulo titulo--tarjeta"> javascript </h3>
                        <p class="seccion_mis_skills__parrafo"> Enfoque en el dominio de su lógica fundamental, estructura del lenguaje y el uso de funciones flecha para escribir código moderno, limpio y eficiente </p>
                    </div>
                </section>

                <!-- Sección 3 -->
                <section class="seccion_mis_skills_tarjeta">

                    <div>
                        <img src="../../Public/Img/java.png" alt="Java" title="Java" class="seccion_mis_skills__imagen">
                    </div>

                    <div>
                        <h3 class="seccion_mis_skills__titulo titulo--tarjeta"> Java </h3>
                        <p class="seccion_mis_skills__parrafo"> Sólida base en los fundamentos del lenguaje, dominio de su sintaxis y aplicación de los pilares de la Programación Orientada a Objetos en proyectos</p>
                    </div>
                </section>

                <!-- Sección 4 -->
                <section class="seccion_mis_skills_tarjeta">

                    <div>
                        <img src="../../Public/Img/sql.png" alt="SQL" title="SQL" class="seccion_mis_skills__imagen">
                    </div>

                    <div>
                        <h3 class="seccion_mis_skills__titulo titulo--tarjeta"> SQL </h3>
                        <p class="seccion_mis_skills__parrafo">Gestión y diseño de bases de datos con MySQL y SQLite, con capacidad para estructurar consultas eficientes y modelar diagramas entidad-relación.</p>
                    </div>
                </section>


            </div>
        </section>

        <!-- Quinta sección -->
        <section class="seccion_opiniones" id="seccion_opiniones">

            <div class="seccion_opiniones__capa">

                <h2 class="seccion_opiniones__titulo"> ¡Déjame saber tu opinión de mi página web!</h2>

                <div class="seccion_opiniones__contendor_formulario">

                    <form class="seccion_opiniones__formulario">
                        <h2 class="seccion_opiniones__titulo titulo--formulario"> FORMULARIO: </h2>

                        <fieldset class="seccion_opiniones__fieldset_formulario">
                            <legend class="seccion_opiniones__legends_formulario"> Datos personales</legend>

                            <label for="primer-nombre" class="labels-formulario">Nombres:</label>
                            <input type="text" id="primer-nombre" class="inputs-formulario" required
                                placeholder="Adrián Enrique">

                            <label for="apellidos" class="labels-formulario">Apellidos:</label>
                            <input type="text" id="apellidos" class="inputs-formulario" required
                                placeholder="Orozco Botero">

                            <label for="numero-identificacion" class="labels-formulario">Número de identificación (Sin
                                puntos):</label>
                            <input type="number" id="numero-identificacion" class="inputs-formulario" required
                                placeholder="1043971689">

                            <label for="fecha-de-nacimiento" class="labels-formulario">Fecha de nacimiento:</label>
                            <input type="date" id="fecha-de-nacimiento" class="inputs-formulario" required
                                placeholder="1043971689">
                        </fieldset>

                        <!-- Datos de contacto -->
                        <fieldset class="seccion_opiniones__fieldset_formulario">
                            <legend class="seccion_opiniones__legends_formulario"> Datos de contacto</legend>

                            <label for="email" class="labels-formulario">Correo electrónico:</label>
                            <input type="email" id="email" class="inputs-formulario" required
                                placeholder="tucorreo@dominio.com">

                            <label for="telefono" class="labels-formulario">Número de teléfono:</label>
                            <input type="number" id="telefono" class="inputs-formulario" required
                                placeholder="+57 3008455830">
                        </fieldset>

                        <!-- Sobre  la web -->
                        <fieldset class="seccion_opiniones__fieldset_formulario">
                            <legend class="seccion_opiniones__legends_formulario"> Información de la web</legend>

                            <label for="opinion" class="labels-formulario">¿Cuál es tu opinión de la web?</label>
                            <textarea name="" id="opinion" placeholder="Lo que quieras colocar..."
                                maxlength=180></textarea>

                            <label for="como-llegaste" class="labels-formulario">¿Cómo entraste a la web?</label>
                            <select id="como-llegaste">
                                <option value="Null"> Sin seleccionar</option>
                                <option value="Buscando en Google">Buscando en Google</option>
                                <option value="QR"> con QR</option>
                                <option value="Link">con un link</option>
                            </select>

                            <label for="quien-recomendo" class="labels-formulario">¿Quién te recomendó la web?</label>
                            <input type="text" id="quien-recomendo" class="inputs-formulario" list="recomendaciones">
                            <datalist id="recomendaciones">
                                <option value="Un amigo"></option>
                                <option value="Redes sociales"></option>
                                <option value="Un compañero de trabajo"></option>
                                <option value="Un familiar"></option>
                            </datalist>
                        </fieldset>

                        <button id="button-opiniones">ENVÍAR DATOS</button>


                    </form>
                </div>

            </div>


        </section>

        <!-- Sexta sección -->
        <div id="preguntas-sobre-mi">

            <div class="preguntas-frecuentes">
                <h2 id="titulo-psb">PREGUNTAS FRECUENTES SOBRE MÍ</h2>

                <details>
                    <summary> ¿En qué rama de la ingeniería de sistemas me pienso específicar? </summary>
                    La verdad, es una pregunta muy buena que todos los días me pregunto, ya que estoy en una carrera tan
                    amplía, y tan expansiva. A estas alturas, puedo considerarme que me gusta de todo un poco
                    (fullstack), pero mayormente me enfoco en tecnologías de programación actuales como: frontend,
                    backend y sql. Además de otros como QA o ingeniería de requisitos.
                </details>

                <details>
                    <summary> ¿Qué otras carreras o disciplinas me gustan? </summary>
                    No solo soy amante de la tecnología, también me gusta la docencia, la educación física (tanto
                    entrenar, como yo ser quien entrena a las personas), la cocina y el diseño gráfico. También teniendo
                    conocimiento de cada item que mencione, ejerciendo disciplinas básicas.
                </details>

                <details>
                    <summary> ¿Cuánto mido? </summary>
                    Una pregunta que me hacen frecuentemente, ya que aparanto de más por mi estatura (De 22 años o más)
                    pero en realidad es que tengo 20 años y mido 1,83 cm.
                </details>

                <details>
                    <summary> ¿Recomiendo aprender remotamente? </summary>
                    En mi experiencia de aprendizaje propio, basado en mí, sí, lo recomiendo, ya que he podido aprender
                    y desarrollar habilidades de programador desde mi casa, un curso, un pc y mi cuarto. Es más cómodo y
                    con tantas tecnologías que hay actualmente, es más fácil aprender de internet.
                </details>

                <details>
                    <summary> ¿Qué otras tecnologías quiero aprender? </summary>
                    Voy encaminado a seguir haciendo cursos, donde en estos entran: react, typescript, linux, angular,
                    bootstrap, php, c++ y si es posible, repasar phyton.
                </details>
            </div>
        </div> <!-- Último contenedor-->
    </main>




<script src="../Models/invertName.js"></script>
<script src="../Models/correctName.js"></script>
</body>

</html>