<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../Public/Styles/fuentes.css">
        <link rel="stylesheet" href="../../Public/Styles/estilo-index.css">
        <link rel="icon" href="../../Public/Img/profile.png">
        <title> Portafolio Personal </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Adrián Orozco, portafolio, dev">
        <meta name="description" content="Esta es mi primera página web estática.">
    </head>

    <body>

        <div class="seccion-de-introduccion">
        <h1>Adrián Enrique Orozco Botero</h1>
        <p class="texto-introductorio"> ¡Hola! Bienvenido a mi portafolio virtual. Aquí podrás conocer mis habilidades, ver algunos de los proyectos en los que he trabajado y encontrar distintas formas de contacto. También comparto un poco sobre mí y mi proceso de aprendizaje.
        <br>
        <br>
        Este espacio refleja mi dedicación y crecimiento, así que espero que disfrutes explorarlo y puedas dejar tu opinión para seguir mejorando.
        </p>

        <div class="seccion-de-botones">

            <a class="botones-introduccion" href="#sobre-la-web" title="Información de esta página web"> Sobre la web </a> 
            <a class="botones-introduccion"> Presentación </a> 
            <a class="botones-introduccion"> Skills</a>
            <a class="botones-introduccion"> Opiniones</a>
            <a class="botones-introduccion"> Sobre mí</a>  
        </div>
        </div> <!-- Sección de introducción-->

        <!-- Segundo contenedor -->
        <div class="sobre-la-web">

        <div class="capa-sobre-la-web">
        <h2 id="titulo-sobre-la-web"> ¿POR QUÉ ESTA WEB? </h2>
        <p id="parrafo-sobre-la-web"> Nace de una noche donde entendí que los conocimientos no se ejercen aprendiendo más, o realizando ejercicios básicos, el conocimiento nace cuando aplico lo que sé en un proyecto real, por eso, está página web contiene todo lo que he aprendido en cursos.
        </p>

        <a href="https://www.youtube.com/watch?v=ELSm-G201Ls" title="Curso de HTML, Soy Dalto" class="curso-sobre-la-web" target="_blank"> Curso donde he aprendido todo sobre páginas web. </a>

        <p class="parrafo-sobre-la-web-2"> Tecnologías que usé aquí:</p>


        <!-- Div de secciones -->
        <div class="contenedor-tecnologias-sobre-la-web">

        <!-- Sección 1 -->
        <section class="secciones-sobre-la-web">
        <div>
            <img src="../../Public/Img/html.jpg" alt="HTML" class="imagenes-sobre-la-web">
        </div>

        <div>
            <h3 class="titulos-de-secciones"> HTML</h3>
            <p class="parrafos-de-secciones"> Este lenguaje de marcado se usó para darle la estructura a la web.</p>
        </div>
        </section>

        <!-- Sección 2 -->
        <section class="secciones-sobre-la-web">
        <div>
            <img src="../../Public/Img/css.png" alt="CSS" class="imagenes-sobre-la-web">
        </div>

        <div>
            <h3 class="titulos-de-secciones"> CSS</h3>
            <p class="parrafos-de-secciones"> Esta tecnología se usó para darle el estilo y la estética a la página web.</p>
        </div>
        </section>

        <!-- Sección 3 -->
        <section class="secciones-sobre-la-web">
        <div>
            <img src="../../Public/Img/javascript.jpg" alt="HTML" class="imagenes-sobre-la-web">
        </div>

        <div>
            <h3 class="titulos-de-secciones"> JavaScript</h3>
            <p class="parrafos-de-secciones"> Este lenguaje de programación fue utilizado para darle dinamismo a la web.</p>
        </div>
        </section>

        </div> <!-- Fin de div de secciones-->


        </div>

        </div> <!-- Fin del div sobre la web-->

        

    </body>
</html>